{% extends 'base.html' %} {% block content %} {% load static %}
<div class="faq-banner">
	<img class="banner" src="{% static 'main_app/images/faqbanner.png' %}" />
</div>
<div class="container">
	<div class="row">
		<div class="col s4">
			<span>What are you hours?</span><br />
			<p>Donut worry we are open Monday to Sunday from 9:00 am to 4:00pm!</p>
			<span>Where are you located?</span><br />
			<p>234 Markham Road,<br>Scarborough,ON M5M 4A1</p>
		</div>
		<div class="col s4">
			<span>Delivery</span><br />
			<p>Donut fear we deliver! Please update your delivery address to see the delivery rates to your home!</p>
			<span>Do you accept credit cards?</span><br />
			<p>Yes, we accept VISA, Mastercard, Debit Interac and American Express.</p>
		</div>
		<div class="col s4">
			<span>You got Questions? Feel Free to contact us</span><br />
			<input type="text" placeholder="Name">
			<input type="text" placeholder="Email">
			<textarea id="review-content" placeholder="Write us here!"></textarea>
		</div>
	</div>
</div>

{% endblock %}
