{% extends 'base.html' %} {% block content %}
{% load static %}

<div class="row">
	<div class="col s12 m6">
		<img class="responsive-img" src="{% static donut.image %}" />
	</div>
	<div class="col s12 m6">
		<span>{{ donut.name }}</span>
			<p>{{ donut.description }}</p>
		<form action="{% url 'add_cart' donut.id %}" method="post">
			{% csrf_token %}
			<input type="submit" class="btn" value="Add {{ donut.price }}" />
		</form>
	</div>
</div>
<div class="row">
	<div class="col s12">
		<table>
				<tr>
				{% for review in donut.review_set.all %}
				<td>{{review.user}}<br>{{review.rating}}</td>
				<td>{{review.content}}</td>
				</tr>			
				{% endfor %}
		</table>
	</div>
		<div class="col s12">
			<form class="review-form" action="{% url 'add_review' donut.id %}" method="post">
				{% csrf_token %}
				<input type="text" name="review_text" />
				<button type="submit" class="btn">Add Review</button>
			</form>
		</div>
	</div>	
</div>
{% endblock %}
