{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Donut Shop</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'main_app/css/style.css' %}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</head>
<body>
    <nav role="navigation">
        <div class="nav-wrapper logo">
            <a href="/" class="brand-logo center"><img class="logo"src="{% static 'main_app/images/logo.png' %}"></a>
                <a href="#" data-target="mobile" class="sidenav-trigger"><i class="material-icons">person_outline</i></a>
                <ul class="center hide-on-med-and-down">
                <ul class="right">
                    <li> 
                        <form method="POST" action = "{% url 'search' %}">
                            {% csrf_token %}
                            <div class="input-field">
                                <input id="search" type="search" autocomplete="off" name= "searched">
                                <i class="material-icons black-text">search</i>
                            </div> 
                        </form>
                    </li>
                    <li><a href="{% url 'account_profile' %}"><i class="medium material-icons">person_outline</i></a></li>
                    <li><a href="{% url 'cart' %}"><i class="medium material-icons">add_shopping_cart</i></a></li>
                    {% if user.is_authenticated %}
                    <li><a class="nav-link" href="{% url 'logout' %}">Log Out</a></li>
                    {% else %}
                    <li><a class="nav-link" href="{% url 'login' %}">Log In</a></li>
                    <li><a class="nav-link" href="{% url 'signup' %}">Sign Up</a></li>
                    {% endif %} 
                </ul>
        </div>
    </nav>  
    <ul class="sidenav" id="mobile">
        <form method="POST" action = "{% url 'search' %}">
            {% csrf_token %}
            <div class="input-field">
                <input id="search" type="search" autocomplete="off" name= "searched">
                <i class="material-icons black-text">search</i>
            </div> 
        </form>
        <li><a href="{% url 'account_profile' %}">Account</a></li>
        <li><a href="{% url 'cart' %}">Cart</a></li>
        {% if user.is_authenticated %}
        <li><a class="nav-link" href="{% url 'logout' %}">Log Out</a></li>
        {% else %}
        <li><a class="nav-link" href="{% url 'login' %}">Log In</a></li>
        <li><a class="nav-link" href="{% url 'signup' %}">Sign Up</a></li>
        {% endif %} 
    </ul>
    <header>
        <nav class="nav-center" role="navigation">
            <div class="nav-wrapper">
                <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
                <ul class="center hide-on-med-and-down">
                    <li><a href="{% url 'shop' %}">Shop</a></li>
                    <li><a href="{% url 'daily_flavour' %}">Daily Flavours</a></li>
                    <li><a href="{% url 'about' %}">About</a></li>
                    <li><a href="{% url 'faq' %}">FAQ</a></li>
                    <li><a href="{% url 'rewards' %}">Rewards</a></li>
                <ul> 
            </div>
        </nav>
        <ul class="sidenav" id="mobile-demo">
            <li><a href="{% url 'shop' %}">Shop</a></li>
                <li><a href="{% url 'daily_flavour' %}">Daily Flavours</a></li>
                <li><a href="{% url 'about' %}">About</a></li>
                <li><a href="{% url 'faq' %}">FAQ</a></li>
                <li><a href="{% url 'rewards' %}">Rewards</a></li>
        </ul>
    </header>       
            {% block content %}
            {% endblock %}
        <footer class="page-footer center-align">
            <div class="container">
                <div class="row">
                    <div class="footer-info col s4">
                        <ul class="left-align address">
                        <span>Address</span>
                            <li>1234 Markham Road, Scarborough, ON M5M 4A1</li>
                            <li>Mon - Fri:  9:00AM - 4:00PM</li>
                        </ul>
                    </div>
                    <div class="footer-info col s4">
                        <ul class="left-align contact">
                        <span>Contact Us</span>
                            <li>905-987-7654</li>
                            <li>email@thedonutshop.ca</li>
                        </ul>
                    </div>
                    <div class="footer-info col s4">
                        <ul class="left-align follow">
                        <span>Follow Us</span>
                            <li><img src="{% static 'main_app/images/facebook.png'%}">Facebook</li>
                            <li><img src="{% static 'main_app/images/twitter.png'%}">Twitter</li>
                            <li><img src="{% static 'main_app/images/instagram.png'%}">Instagram</li>
                            <li></li><img src="{% static 'main_app/images/pinterest.png'%}">Pinterest</li>
                        </ul>
                    </div>  
                </div>
            </div>
<script>
  document.addEventListener('DOMContentLoaded', function() {
    var elems = document.querySelectorAll('.sidenav');
    var instances = M.Sidenav.init(elems);
  });
</script>
        </footer>
    </body>    
</html>
