{% extends 'base.html' %} {% block content %} {% load static %}
<div class="rewards-banner">
	<img class="banner" src="{% static 'main_app/images/reward-banner.png' %}" />
</div>
<div class="container">
	<h4>VIP exclusive perks</h4>
	<div class="row center donut-dollars">
		<div class="col s4">
			<img src="{% static 'main_app/images/bronze.png' %}" />
			<p>
				<span>Bronze</span><br><br>
				1 DonutDollars for every $1 spent
			</p>
		</div>
		<div class="col s4">
			<img src="{% static 'main_app/images/silver.png' %}" />
			<p>
				<span>Silver</span><br><br>
				2 DonutDollars for every $1 spent, $5 off coupon or more
			</p>
		</div>
		<div class="col s4">
			<img src="{% static 'main_app/images/gold.png'%}" />
			<p><span>Gold</span><br><br>
			DonutDollars for every $1 spent and monthly rewards
			</p>
		</div>
	</div>
</div>	
	<div class="container">
		<div class="center-align">
			<span>What are you going to do with all that dough?</span>
		</div>
		<br>
			<div class="row dollar">
				<div class="col s6">
					<img
						class="responsive-img"
						src="{% static 'main_app/images/50dollars.png'%}"
					/>
				</div>

				<div class="col s6 valign-wrapper">
					<p class="center-align">
						50 Donut Dollars <br />
						Original Glazed Donut Coupon
					</p>
				</div>
			</div>
			<div class="row dollar">
				<div class="col s6">
					<img
						class="responsive-img"
						src="{% static 'main_app/images/75dollars.png'%}"
					/>
				</div>
				<div class="col s6 valign-wrapper">
					<p class="center-align">
						75 Donut Dollars <br />
						Original Glazed Donut Coupon
					</p>
				</div>
			</div>
			<div class="row dollar">
				<div class="col s6">
					<img
						class="responsive-img"
						src="{% static 'main_app/images/75dollars.png'%}"
					/>
				</div>
				<div class="col s6 valign-wrapper">
					<p class="center-align">
						100 Donut Dollars <br />
						Original Glazed Donut Coupon
					</p>
				</div>
			</div>
		</div>
	</div>
{% endblock %}

