{% extends 'base.html' %} {% block content %} {% load static %}
<div class="rewards-banner">
	<img src="" />
</div>
<div class="container">
	<div class="row rewards">
		<div class="col s4">
			<img src="{% static 'main_app/images/bronze.png' %}" />
		</div>
		<div class="col s4">
			<img src="{% static 'main_app/images/silver.png' %}" />
		</div>
		<div class="col s4">
			<img src="{% static 'main_app/images/gold.png'%}" />
		</div>
	</div>
	<div class="row">
		<div class="col s12 m6">
			<img
				class="responsive-img"
				src="{% static 'main_app/images/50dollars.png'%}"
			/>
		</div>
		<div class="valign-wrapper">
			50 Donut Dollars <br />
			Original Glazed Donut Coupon
		</div>
	</div>
	<div class="row">
		<div class="col s12 m6">
			<img src="{% static 'main_app/images/75dollars.png'%}" />
		</div>
		<div>
			<p>75 Donut Dollars</p>
			<p>Original Glazed Donut Coupon</p>
		</div>
	</div>
	<div class="row">
		<div class="col s12 m6">
			<img src="{% static 'main_app/images/75dollars.png'%}" />
		</div>
		<div>
			<p>100 Donut Dollars</p>
			<p>Original Glazed Donut Coupon</p>
		</div>
	</div>
</div>
{% endblock %}
