{% extends 'base.html' %} {% block content %}

{% if checkout %}
	<h2>Your Cart</h2>
	<a href="{% url 'shop' %}">Continue Shopping</a>
{% elif order %}
	<h2>Order Complete</h2>
	<p>Your Order No. is {{order.order_no}}</p>
{% elif confirm  %}
	<h2>Review Page</h2>
	<a href="{% url 'shop' %}">Continue Shopping</a>
	<a href="{% url 'cart' %}">Edit Cart</a>
{% endif %}

<table>
	<tr>
		<th>Product</th>
		<th></th>
		<th>Price</th>
		<th>Quantity</th>
		<th>Total</th>
	</tr>
	{% for donut in donuts %}
	<tr>
		<td><img src="{{donut.image}}" /></td>
		<td>{{donut.name}}</td>
		<td id = "price">{{donut.price}}</td>
		<td>
			<div class="quantity">
				<button id="minus">-</button>
				<input id="cart-q" type="number" min=1 value=1>
				<button id="plus">+</button>
			</div>
		</td>
		<td id="total">
		</td>
	{% if checkout %}
		<td><a href = "{% url 'delete_donut' donut.id %}" class="btn">Delete</a></td>
	{% endif %}
	</tr>
	{% endfor %}
</table>

{% if confirm %}
	<form action="{% url 'cart_complete'%}">
		<button class="btn">Complete</button>
	</form>
{% elif checkout %}
	<form action="{% url 'payment'%}" method="post">
		{% csrf_token %}
		<input name="date" type="datetime-local" id="id_date" required>
		<button class="btn">Checkout</button>
	</form>
{% endif %}

<script>
	{% comment %} var dateEl = document.getElementById('id_date');
	M.Datepicker.init(dateEl, {
		defaultDate: new Date(),
		setDefaultDate: true,
		autoClose: true
	});  {% endcomment %}
	
	plusButton = document.querySelectorAll('#plus');
	minusButton = document.querySelectorAll('#minus');
	inputBox = document.querySelectorAll('#cart-q');
	totalBox = document.querySelectorAll('#total');
	priceBox = document.querySelectorAll('#price');

	for (let i=0; i < plusButton.length; i++){
		totalBox[i].textContent = (inputBox[i].value * parseFloat(priceBox[i].textContent)).toFixed(2)
	}

	for (let i=0; i < plusButton.length; i++){
		plusButton[i].addEventListener("click",function(){
			console.log('hi')
			inputBox[i].value = parseInt(inputBox[i].value) + 1
			totalBox[i].textContent = (inputBox[i].value * parseFloat(priceBox[i].textContent)).toFixed(2)
		})
		minusButton[i].addEventListener("click",function(){
			if (inputBox[i].value > 1){
				inputBox[i].value = parseInt(inputBox[i].value) - 1
				totalBox[i].textContent = (inputBox[i].value * parseFloat(priceBox[i].textContent)).toFixed(2)
			}
		})
	}
	
</script>
	
{% endblock %}