{% extends 'base.html' %} {% block content %}

{% if checkout %}
	<h2>Your Cart</h2>
	<a href="{% url 'shop' %}">Continue Shopping</a>
{% elif order %}
	<h2>Order Complete</h2>
	<p>Your Order No. is {{order.order_no}}</p>
{% elif confirm  %}
	<h2>Review Page</h2>
	<a href="{% url 'shop' %}">Continue Shopping</a>
	<a href="{% url 'cart' %}">Edit Cart</a>
{% endif %}

<table>
	<tr>
		<th id="shoe">Product</th>
		<th></th>
		<th>Price</th>
		<th>Quantity</th>
		<th>Total</th>
	</tr>
	{% for donut in donuts %}
	<tr>
		<td><img src="{{donut.image}}" /></td>
		<td>{{donut.name}}</td>
		<td>{{donut.price}}</td>
		<td>
			<div class="quantity">
				<button>+</button>
				<button>-</button>
				<input type="number" min=1 value=1></td>
			</div>
		<td>100</td>
	{% if checkout %}
		<td><a href = "{% url 'delete_donut' donut.id %}" class="btn">Delete</a></td>
	{% endif %}
	</tr>
	{% endfor %}
</table>

{% if confirm %}
	<form action="{% url 'cart_complete'%}">
		<button class="btn">Complete</button>
	</form>
{% elif checkout %}
	<form action="{% url 'payment'%}" method="post">
		{% csrf_token %}
		<input name="date" type="datetime-local" id="id_date" required></input>
		<button class="btn">Checkout</button>
	</form>
{% endif %}
{% endblock %}

<script>
	var dateEl = document.getElementById('id_date');
	M.Datepicker.init(dateEl, {
	  defaultDate: new Date(),
	  setDefaultDate: true,
	  autoClose: true
	});
</script>