{% extends 'base.html' %} {% block content %}
<div class="pay-container">
	<div class="contact">
	<form method="POST" action="{% url 'add_info' %}">
		{% csrf_token %}
		<h4>Delivery Information</h4>
		{{ delivery_form.as_p}}
		<button class="btn">Confirm</button>
	</form>
	</div>
</div>
<div class="cart">
	<table>
		{% for donut in donuts %}
		<tr>
			<td><img src="{{donut.image}}" /></td>
			<td>{{donut.name}}</td>
			<td>$(total)</td>
		</tr>
		{% endfor %}
	</table>
	<div>Subtotal $9.99</div>
	<div>Delivery $9.99</div>
	<div>Tax$9.99</div>
	<div>Total$9.99</div>
</div>

{% endblock %}