{% extends 'base.html' %} {% block content %}
<div class="row">
	<div class="col s9">
		<form method="POST" action="{% url 'add_info' %}">
			{% csrf_token %}
			<h4>Delivery Information</h4>
			{{ delivery_form.as_p}}
			<button class="btn">Confirm</button>
		</form>
	</div>
	<div class="col s3">
		<table>
			{% for item in items %}
			<tr>
				<td><img src="{{item.donut.image}}"></td>
				<td>{{item.donut.name}}</td>
				<td class="price">{{item.donut.price}}</td>
				<td class="quantity">{{item.quantity}}</td>
				<td id="total"></td>
			</tr>
			{% endfor %}
		</table>
		<div>Subtotal $<span id="subtotal">9.99</span></div>
		<div>Delivery $2.99</div>
		<div id="final-total">Total$9.99</div>

<script>
	totalBox = document.querySelectorAll('#total');
	prices = document.querySelectorAll('.price');
	quantites= document.querySelectorAll('.quantity');
	subTotal= document.querySelectorAll('#subtotal');
	finalTotal = document.querySelectorAll('#final-total')

	total = 0.00
	for (let i=0; i < prices.length; i++){
		totalBox[i].textContent = (parseFloat(prices[i].textContent) * parseFloat(quantites[i].textContent)).toFixed(2)
		total += parseFloat(totalBox[i].textContent)
	}
	console.log(total)

	subTotal[0].textContent = total
	finalTotal[0].textContent = parseFloat(subTotal[0].textContent) + 2.99 


</script>
{% endblock %}
