{% extends 'base.html' %} {% block content %} {% load static %}
<div class="container">
	<div class="row">
		<div class="banner col s12">
			<img
				class="responsive-img"
				src="{% static 'main_app/images/daily-flavour-banner.png' %}"
			/>
		</div>
	</div>
	{% for donut in donuts %} {% if donut.id in oddIndexes %}
	<div class="row">
		<div class="col s12 m6">
			<img class="responsive-img" src="{% static donut.image %}" />
		</div>
		<div class="col s12 m6">
			<span>{{ donut.name }}</span>
			<p>{{ donut.description }}</p>
			<form action="{% url 'add_cart' donut.id %}" method="post">
				{% csrf_token %}
				<input type="submit" class="btn" value="Add {{ donut.price }}" />
			</form>
		</div>
	</div>
	{% else %}
	<div class="row">
		<div class="col s12 m6">
			<span>{{ donut.name }}</span>
			<p>{{ donut.description }}</p>
			<form action="{% url 'add_cart' donut.id %}" method="post">
				{% csrf_token %}
				<input type="submit" class="btn" value="Add {{ donut.price }}" />
			</form>
		</div>
		<div class="col s12 m6">
			<img class="responsive-img" src="{% static donut.image %}" />
		</div>
		{% endif %} {% endfor %}
	</div>
</div>
{% endblock %}
