body {
	font-family: "Montserrat", sans-serif;
}
h4.center.account {
	padding-bottom: 90px !important;
}
.quantity {
	display: flex;
}
.banner {
	max-height: 709px;
	width: 100vw;
}
h1 {
	text-align: center !important;
}
a {
	color: #362b24 !important;
}
nav {
	background-color: white !important;
	transform: translate(0) !important;
	box-shadow: none !important;
	padding-bottom: 90px;
}
.input-field input[type="search"] {
	height: 64px !important;
}
.nav {
	padding-right: 50px !important;
}
footer {
	background-color: #bd9780 !important;
	color: #362b24 !important;
	padding-top: 85px !important;
	padding-bottom: 105px;
}

span {
	font-weight: bold;
	font-size: 18px;
}
.review-form {
	width: 507px;
	height: 143px;
}

.cart-image {
	max-width: 80%;
}

table,
tr,
td {
	border: none !important;
}

.delivery {
	border: 1px solid rgb(201, 193, 193);
	border-radius: 15%;
	text-align: center;
	padding: 10%;
}

h4 {
	text-align: center;
}

.auth {
	width: 100%;
}

.helptext {
	font-size: 10px;
}

#signup-btn {
	display: flex;
	margin: 30px;
	justify-content: center;
}

.underline {
	text-decoration: underline;
}

.top-left {
	text-align: left;
	vertical-align: top;
}

.cart-delete {
	margin-top: 50px;
}

.cart-q {
	text-align: center;
	border: none !important;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

.quantity button {
	width: 50%;
}

#search {
	color: #362b24 !important;
}
.search-img {
	height: 20%;
	width: 20%;
}
