.quantity {
	display: flex;
}

h1 {
	text-align: center !important;
}
a {
	color: #362b24 !important;
}
nav {
	background-color: white !important;
	transform: translate(0) !important;
	box-shadow: none !important;
	padding-bottom: 90px;
}

footer {
	background-color: #bd9780 !important;
	color: #362b24 !important;
	padding-top: 85px !important;
	padding-bottom: 105px;
}

span {
	font-weight: bold;
	font-size: 18px;
}
.review-form {
	width: 507px;
	height: 143px;
	align-self: center;
	align-content: center;
}

.cart-image {
	max-width: 25%;
}

